@import "fonts";
@import "mq";
@import "palette";
@import "enhancer";

body {
   overflow: visible!important;
}

.interactive-wrapper {
    border-top : none!important;
    border-bottom: none!important;
}

figure {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.interactive-atom {
    margin: 0;
    padding: 0;
}

// for apps adds extra padding. Needed to make dark mode work
.ios, .android {
    .interactive-atom {
        padding: 8px;
    }
}

.content__main-column--interactive {
  position: relative;

  &:before {
    position: absolute;
    top: 0;

    height: 100%;
    min-height: 500px;
    content: ' ';

    @include mq(leftCol) {
        border-left:1px solid #dfdfdf;
        left: calc((100% - 1140px)/2 + 171px);
    }

    @include mq(wide) {
        border-left:1px solid #dfdfdf;
        left: calc((100% - 1300px)/2 + 250px);
    }
  }
}



.content__main-column--interactive>p {
    max-width: 620px;
}
@media (min-width: 71.25em) {
    .content__main-column--interactive>p {
        margin-left: 160px!important;
    }
}
@media (min-width: 81.25em) {
    .content__main-column--interactive>p {
        margin-left: 240px!important;
    }
}

.content__main-column--interactive>p {
    max-width: 620px;
}
@media (min-width: 71.25em) {
    .content__main-column--interactive>p {
        margin-left: 160px!important;
    }
}
@media (min-width: 81.25em) {
    .content__main-column--interactive>p {
        margin-left: 240px!important;
    }
}
.content__main-column--interactive>p {
    font-size: 18px;
}


.content__main-column--interactive>h2 {
    max-width: 620px;
}
@media (min-width: 71.25em) {
    .content__main-column--interactive>h2 {
        margin-left: 160px!important;
    }
}
@media (min-width: 81.25em) {
    .content__main-column--interactive>h2 {
        margin-left: 240px!important;
    }
}
.content__main-column--interactive>h2 {
    font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia;
    font-size: 28px;
    line-height: 1.36;
    font-weight: 700;
    color: #333;
    margin-top: 36px;
    margin-bottom: 6px;
}
@media (max-width: 61.24em) {
    .content__main-column--interactive>h2 {
        font-size: 24px;
    }
}
/*! CSS Used from: Embedded */

.content__main-column--interactive>h2 {
    max-width: 620px;
}
@media (min-width: 71.25em) {
    .content__main-column--interactive>h2 {
        margin-left: 160px!important;
    }
}
@media (min-width: 81.25em) {
    .content__main-column--interactive>h2 {
        margin-left: 240px!important;
    }
}
.content__main-column--interactive>h2 {
    font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia;
    font-size: 28px;
    line-height: 1.36;
    font-weight: 700;
    color: #333;
    margin-top: 36px;
    margin-bottom: 6px;
}
@media (max-width: 61.24em) {
    .content__main-column--interactive>h2 {
        font-size: 24px;
    }
}


/* Inline */
.element-interactive.element-inline {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    position: relative;
    width:100%;
    max-width: 620px;
    margin-left: 0px!important;
}

/* Suporrting */
.element-interactive.element-supporting, {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    position: relative;
    width:100%;
    max-width: 300px;
    clear: left;
    float: left;
    margin-left: 0px!important;
}

/* thumbnail */ 

.element-interactive.element-thumbnail, {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    position: relative;
    width:100%;
    max-width: 140px;
    clear: left;
    float: left;
    margin-left: 0px!important;
}

/* Showcase */ 
figure.element-interactive.element-showcase {

    background-color: white;
    width:100%;
    max-width: 860px!important;
    position: relative;


    figure.element-interactive.element-showcase, {

        margin-left: 0px!important;
        
        figcaption {
            width: 100%;
            position: relative;
        }

    }


}

/* immersive */
.element-interactive.element-immersive {
    background-color: white;
    position: relative;
    margin-left: 0px!important;

    @include mq($until: mobile) {
        max-width: initial;
    }

    @include mq($from: mobile, $until: mobileLandscape) {
        max-width: initial;
    }

    @include mq($from: mobileLandscape, $until: tablet) {
        max-width: initial;
    }

    @include mq($from: tablet, $until: desktop) {
        max-width: initial;
    }

    @include mq($from: desktop, $until: leftCol) {
        max-width: initial;
    }

    @include mq($from: leftCol, $until: wide) {
        max-width: initial;
    }

    @include mq($from: wide) {
        width: 1260px;
        max-width: initial;
    }

}


/* Immersive */ 
figure.element.element-atom.element-immersive {
    width:100%;
    background-color: white;
    max-width: 100%!important;
    margin-left: 0px!important;
    position: relative;
    border-top:1px solid #dfdfdf;
    border-bottom:1px solid #dfdfdf;

    figure.interactive.interactive-atom {
        box-sizing: border-box;
        width:100%;
    }

}